.logo{
    margin: 0 auto;
    display:block;
}
.form{
    margin: 0 auto;
    display: block !important;
    width: 100%;
    max-width: 350px;
}
.input-info, .formSignBtn{
    background-color: #d1d1d1; 
    -webkit-border-radius: 20px; 
    -moz-border-radius:20px;
    border-radius:20px;
    color: #000;
    width:100%;
    max-width: 350px;
    padding: 10px 15px;
    margin: 13px 0;
    border: 1px #898989 solid;
    font-size: 15px;
}
.input-info::placeholder{
    color:#898989;
}
.input-info{
    max-width: 318px !important;
}
.registro-text{
    text-align:center;
    width: 100%;
    margin: 15px auto;
}
.formSignBtn{
     background-color: #1AA9E2;
     color: #fff;
    }
.logos-rrss {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.logos-rrss a {
    font-size: 25px;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    text-decoration: none;
}
.logos-rrss a:hover{
    opacity: 0.6;
    text-decoration: none;
    transition: 0.4s;
}
.azul-facebook{
    background-color: #3b5998;
}
.celeste-twitter{
    background-color: #1da1f2;
}
.rojo-googlemas{
    background-color: #ea4335;
}
.otra-cuenta{
    text-align: center;
}
.box-registro{
    margin-top:5%;
}
.error{
    color:red;
    font-style: italic;
    text-align: center;
    font-size: 15px;
}
.button-reset-password{
    background-color: transparent;
    border: none;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    display:block;
}
.hide{
    display:none;
}
.show{
    display:block !important;
}
.space{
    margin:8px auto;
    display: block;
}
.button-left i, .button-right i {
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border: 1px #898989 solid;
    color: #464646;
    padding: 8px;
}
.button-left, .button-right{
 margin: 10px 0;
 background-color: transparent;
 border:none;
}
.button-left{
    float: left;
}
.button-right{
    float:right;
}
.sectionfooter{
    border-top: 1px #898989 solid; 
    padding: 10px 0;
    margin-bottom: 10px;
}
.button-footer{
    margin:0 auto;
    display:block;
    background-color: transparent;
    border:none;
}
.button-footer i{
    margin:0 auto;
    display:block;
    color: #464646;
    font-size: 20px;
    padding: 15px 0;
}
.section-Answer{
    background-color: #f1f1f1;
    margin-top: 45px;
}
.name-especialist{
    color: #1AA9E2;
    font-size: 15px; 
    margin-bottom: 10px; 
    font-style: italic;
    padding: 10px 5px;
}
.answer-especialist{
    padding: 10px 5px;
    margin-bottom: 15px; 
    text-align: justify;
}
/* pantalla principal */

/* box para hacer preguntas */
#app{
    background-color: #ffffff;
    }
    
    .box-post {
        border: #898989 1px solid;
        padding: 5px;
    }
    .img-profile {
         margin: 0 auto;
         width: 50px;
         
    }
    
    .question {
        padding-top: 3px;
        width:100%;
    }
    textarea.answer {
        margin-top: 5px;
        height: 35px;
        width:90%;
        padding: 5px 10px;
        border-radius: 50px;
    }
    
    textarea.answer::placeholder {
    padding: 5px;
    text-align: center;
    }
    
    .box-img {
        padding-left: 10px;
        padding-top: 5px;
    }
    .img-profile {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 10px;
        
    } 
    .btnPublish {
        float: right;
        margin-right: 20px;
    }
    
    /* box para ver posteos */
    
    #postPublished.container {
        padding-top: 5%;
        width: 93%;
    }
    
    .question-published{
          float: right;
    }
    .icon-group {
        border-top: #898989 1px solid;
        padding: 10px 0;
    }
    
    .float-right {
        float: right;
    }
    
    .caja-texto {
        min-height: 65px;
        max-height: 65px;
        min-width: 261px;
        max-width: 261px;
    }
    .btnAnswer {
        margin-top: 5px;
        background-color: #1AA9E2;
        color: #fff;
        padding: 5px 15px;
        margin-bottom: 10px;
        -webkit-border-radius: 20px; 
        -moz-border-radius:20px;
        border-radius:20px;
        border: 0.5px solid #898989;
        box-sizing: border-box;
    } 
  
    
    .clearfix:before,
    .clearfix:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */
    }
    
    .clearfix:after {
      clear: both;
    }
    @media(max-width:468px){
        .box-registro{
            margin-top:30%;
        }
        #app{
            margin-top: -20%;

        }
    }
    @media(min-width:468px){
        #app{
            width:100%;
            margin: 0 auto;
            display:block;
            max-width: 500px;
        }
    }
